*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

.header{
  background-color: #ef533e;
  color: white;
  padding: 1rem 2rem;
}

.navBar{
  display: flex;
  justify-content: flex-start;
  background: #08B2E3;
  color: white;
}

.navBar a {
  text-decoration: none;
}

.navBar button {
  font-size: 1.5rem;
  display: inline;
  width: 95px;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 0.2s all;
}

.navBar button:hover {
  background-color: #003645;
  color: white;
}

.pageLayout{
  padding: 10px 15px;
}

.profilePic {
  width: 40px;
  height: 40px;
  background-color: #08B2E3;
  border-radius: 50%;
}

.feedback {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #00364544;
  margin-top: 10px;
}

#author {
  font-size: x-small;
}

#date{
  font-size: smaller;
}